<div class="relative w-full">
  <div class="absolute inset-0 bg-white/40">
    <div class="px-6 py-4 flex justify-center content-center">
      <div class="font-bold text-3xl mb-2">Save your Movies</div>
    </div>
  </div>
</div>
<br>
<div class="px-6 py-4 flex items-center justify-between mx-10 mt-10">
  <div class="font-semibold text-xl">
    Your Lists
  </div>
  <%= link_to "Create new list",
        new_list_path,
        class: "inline-flex items-center rounded-md bg-rose-500 px-4 py-2 text-white font-semibold hover:bg-rose-600 transition" %>
</div>

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 mx-10">
  <% @lists.each do |list| %>
    <%= link_to list_path(list), class: "block overflow-hidden rounded-lg shadow-lg hover:shadow-xl transition" do %>
    <img class="w-full h-48 object-cover" src="" alt="">
      <div class="px-6 py-4">
        <div class="font-bold text-xl">
          <%= list.name %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
